<!DOCTYPE html>
<html class="h-screen overflow-hidden">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ site.title }} &middot; {{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/main.css?v={{ site.time | date: '%s' }}">
    <link href="{{ "/assets/images/favicon-light.png" | relative_url }}" rel="icon" media="(prefers-color-scheme: light)">
    <link href="{{ "/assets/images/favicon-dark.png" | relative_url }}" rel="icon" media="(prefers-color-scheme: dark)">
  </head>
  <body class="flex h-[100dvh]">

    <main class="flex w-full bg-gray-50">

      <div class="w-full max-w-xl m-auto p-8 flex flex-col">

        {{ content }}

      </div>

    </main>

  </body>
</html>
